<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test">
    <test name="Test">

        <!-- <classes>
             <class name="com.wang.cases.LoginTest"/>
         </classes>  -->
        <groups>
            <run>
                <include name="loginTrue"/>
            </run>
        </groups>
        <packages>
            <package name="com.wang.cases"/>
        </packages>

    </test>
</suite> 
